#timer {
  font-size:1800%;
 }

#start {
  font-size: 500%;
}

#break {
  font-size: 500%;
  display: none;
}

#toptext {
    font-size: 350%;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}

#pic {
  width: 500px;
  left: 500px;
}

#plane {
  margin-left: 3px;
  width: 45px;
  left: 45px;
}

.navbar {
  color: black;
  font-size: 150%;
  padding-top: 11px;
  background-color: white;
  text-decoration: underline;
}

/*#top {
	background-color: white;
	position: fixed;
	}*/

	/*#top {
		left: 0; right: 0;
		height: 50px;
		}*/
