#timer {
  font-size:1800%;
 }

#start {
  font-size: 500%;
}

#break {
  font-size: 500%;
  display: none;
}

#toptext {
    font-size: 350%;
    text-align: center;
}

#pic {
  width: 500px;
  left: 500px;
}

#top {
	background: white;
	position: fixed;
	}

	#top {
		left: 0; right: 0;
		height: 50px;
		}
